<!DOCTYPE html>
<html>
<head>
 <title>Amazing Amy's Barbershop</title>
</head>
<body>
    <h1>Amazing Amy's Barbershop</h1>
    <p>Your convenience is our duty</p>

    <!-- Barber 1 -->
    <p>Peter</p>
    <img src="https://tse2.mm.bing.net/th?id=OIP.-pdosDWNfyFhJBsDO3HqjgHaE7&pid=Api"
    <!-- Barber 2 -->
    <p>Howard</p>
    <img src="http://tse1.mm.bing.net/th?id=OIP.mla5koiyZ-bTdi8rhkVQxAHaE8&pid=Api"

    <!-- Barber 3 -->
    <p>Juliana</p>
    <img scr="http://tse4.mm.bing.net/th?id=OIP.-jsma_zuimi2mEasbu8FTQHaE8&pid=Api"

    <!-- User Form -->
       <h1>Place Your Order</h1>
    <form action="{% url 'haircut:home_page' %} " method="POST">
        {% csrf_token %}
        <input placeholder="Please Type Customer Name" type="text" name="customer_name">
        <input type="text" name="barber_name">
        <input type="text" name="our_time">
        <input type="submit" name="">


    </form>
    <h1>Your Order</h1>
    <p>Your Barber Choice: {{customer_name}}</p>
    
</body>
</html>
 
